.keyboard-inp {
	margin-bottom: 20px;
}

.keybaord-inp-item {
	width: 53px;
	height: 53px;
	border: #18a689 1px solid;
	border-radius: 5px;
	background-color: #FFF;
}

.keybaord-inp-item .fa {
	line-height: 51px;
	margin-left: 1px;
}

.keybaord-btn-item.btn-large-dim {
	width: 81px;
	height: 81px;
	font-size: 42px;
}

.dashboard #page-wrapper {
	margin-left: 0;
	position: relative;
}

.dashboard #page-wrapper .wrapper-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#logos {
	background: #eaeaea;
}

#logos h1 {
	margin: 5px 0;
}

.site-content {
	padding-top: 10px;
	height: 100%;
}

.site-content .container-fluid {
	height: 100%;
}

.site-content-row {
	height: 100%;
}

.site-content-col2 {
	height: 100%;
	position: relative;
}

.site-content-col2 .categories {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}

.site-content-col2 .mealMenu {
	height: 100%;
	padding-top: 140px;
}

.site-content-col2 .mealMenu .tab-content {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.site-content-col1 {
	height: 100%;
	position: relative;
}

.site-content-col1 .basket,
.site-content-col2 .basket {
	height: 100%;
	padding-bottom: 165px;
}

.site-content-col1 .basket-table,
.site-content-col2 .basket-table {
	height: 100%;
}

.site-content-col1 .checkout,
.site-content-col2 .checkout {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 165px;
}

.site-content-col1.basket-side {
	z-index: 1;
}

.site-content-col1.saved-basket-side,
.site-content-col1.return-basket-side,
.site-content-col2.saved-goods-right-side {
	display: none;
	height: auto;
	z-index: 2;
	background: #FFF;
	position: absolute;
	left: 0;
	top: 45px;
	bottom: 0;
}

.site-content-col2.saved-goods-right-side {
	left: auto;
	right: 0;
}

.calcs {
	position: relative;
	padding-top: 20px;
}

.calcs > .row:first-child {
	max-height: 370px;
	overflow-y: scroll;
}

.mealList {
	font-size: 18px;
}

.mealList th, td {
	text-align: center;
}

.mealList td:first-child {
	text-align: left;
}

.mealList td:nth-child(4) {
	text-align: right;
}

.buttons {
	padding: 30px 10px;
	background: #fff;
	box-sizing: border-box;
}

.buttons td {
	font-size: 20px;
	font-weight: bold;
}

.site-content-col2.saved-goods-right-side .buttons {
	padding-top: 20px;
}

.categories li {
	display: block;
	width: 32%;
	float: left;
	margin-bottom: 5px;
}

.categories li a {
	padding: 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 0;
	outline: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.meals {
	width: 100%;
	margin-bottom: 20px;
	padding-top: 10px;
}

.tab-pane .col-sm-4 {
	padding-left: 15px;
	padding-right: 15px;
	border-color: #ccc;
}

.meals .caption {
	background-color: #FFF;
}

.modal-dialog {
	margin: 80px auto;
}

.modal-body {
	padding: 30px;
}

.custom-modal h3 span {
	font-size: 40px;
	font-weight: bold;
}

.custom-modal .modal-body .btn.pay-by-card,
.custom-modal .modal-body .btn.pay-by-cash,
.custom-modal .modal-body .btn.show-vip-list {
	padding: 30px;
	margin: 0 25px;
	font-size: 20px;
}

.dashboard .navbar-top-links li a {
	min-height: 30px;
	padding: 10px;
}

.dashboard .navbar {
	min-height: 30px;
}

.wrapper-content {
	padding: 35px 10px 10px;
}

.custom-basket-table {
	height: 100%;
	border-top: #ddd 1px solid;
}

.custom-basket-table-head .custom-basket-table-th,
.custom-basket-table-body .custom-basket-table-td {
	text-align: center;
	border-bottom: #dddddd 1px solid;
	border-right: #dddddd 1px solid;
	color: #676a7e;
	font-size: 17px;
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.custom-basket-table-head .custom-basket-table-th:last-child {
	padding-bottom: 5px;
	padding-top: 5px;
}

.custom-basket-table-body {
	height: 100%;
	width: 100%;
	padding-top: 45px;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: scroll;
}

.custom-basket-table-body .custom-basket-table-tr:nth-of-type(2n) {
	background-color: #f9f9f9;
}

.custom-basket-table-head .custom-basket-table-th {
	font-weight: bold;
	background-color: #f5f5f6;
}

.custom-basket-table-head {
	position: absolute;
	left: 15px;
	right: 32px;
	z-index: 6;
}

.custom-basket-table-body .custom-basket-table-td-action,
.custom-basket-table-body .custom-basket-table-td {
	height: 45px;
	line-height: 23px;
}

.custom-basket-table-body .custom-basket-table-td-action,
.custom-basket-table-body .custom-saved-basket-table-td-action,
.custom-basket-table-body .custom-saved-basket-table-right-td-action {
	padding: 0;
	line-height: 40px;
}

.custom-basket-table-body .custom-basket-table-td-title,
.custom-basket-table-body .custom-saved-basket-table-td-title {
	text-align: left;
}

.custom-basket-table .custom-basket-table-tr,
.custom-basket-table .custom-return-basket-table-tr {
	border-left: #ddd 1px solid;
}

.custom-basket-table .custom-basket-table-tr.active-tr-row {
	background-color: #337ab7;
}

.custom-basket-table .custom-basket-table-tr.active-tr-row .custom-basket-table-td {
	color: #FFF !important;
}

.custom-basket-table .custom-basket-table-tr.active-tr-row .custom-basket-table-td .saved-basket-goods-return {
	color: #666 !important;
}

.goods-item {
	display: block;
}

.goods-item .thumbnail {
	position: relative;
	padding: 0;
}

.goods-item .thumbnail .img-responsive{
	width: 100%;
	background-position: center top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #337ab7;
}

.goods-item .price {
	top: 5px;
	right: 11px;
	color: #FFF;
	z-index: 2;
}

.goods-item .price-shadow {
	top: 6px;
	right: 10px;
	color: #000;
	z-index: 1;
}

.goods-item .price,
.goods-item .price-shadow {
	position: absolute;
	font-size: 15px;
	font-weight: bold;
}

.goods-item .goods-item-title {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.categories .nav > li > a {
	outline: 1px solid #EEE;
}

.categories .nav > li {
	margin-left: 3px !important;
	margin-right: 2px !important;
}

.saved-basket-side .checkout {
	height: 110px;
}

.saved-basket-side .basket {
	padding-bottom: 110px;
}

.return-basket-side .basket {
	padding-bottom: 175px
}

.return-basket-side .checkout {
	height: 175px
}

.saved-basket-name,
.saved-basket-date,
.saved-basket-total-price {
	color: #337ab7 !important;
	cursor: pointer;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes add-goods-item {
	from {background: #f8ac59;}
	to {background: none;}
}

/* Standard syntax */
@keyframes add-goods-item {
	from {background: #f8ac59;}
	to {background: none;}
}

.custom-basket-table-td.added {
	background: none;
	-webkit-animation-name: add-goods-item; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
	animation-name: add-goods-item;
	animation-duration: 0.5s;
}

.visible-hidden {
	visibility: hidden;
}

.basket-goods-remove,
.saved-basket-goods-right-remove,
.basket-goods-add,
.saved-basket-goods-right-add {
	margin-top: -5px;
}

.custom-basket-table-td .value,
.custom-basket-table-td .saved-value {
	display: inline-block;
	min-width: 30px;
}

.vip-users-list {
	width: 240px;
	height: 180px;
	overflow: auto;
}

.vip-users-list ul,
.vip-users-list li,
.other-menu-items ul,
.other-menu-items li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.vip-users-list .vip-user-item,
.other-menu-items .other-menu-item {
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}

.saved-basket-goods-note,
.saved-basket-goods-note:hover,
.saved-basket-goods-note:focus,
.saved-basket-goods-note:active {
	border: 0;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-radius: 0;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.save-popup-btn {
	margin-top: 10px;
}